<div class="booyah-box col-10 offset-1">
  <div class="percent-flex">

    <div>
      <h1><%= @user.email %></h1>
      <br />
      <p>
        Member Since: <%= @user.created_at.strftime("%B %d, %Y") %><br />
        <%= @user.comments.count %> total comments<br />
        <%= @user.comments.where(rating: '5_star').count %> total <span class="stars">☻☻☻☻☻</span> reviews
    </p>
    </div>
    <div>
      <div class="user_pic"><%= image_tag 'user.png' %></div>
    </div>

  </div>
</div>