<div class="booyah-box col-10 offset-1">
  <h2>Log in</h2>
  <br />
  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: true, label: false, placeholder: 'email' %>
      <%= f.input :password, required: true, label: false, placeholder: 'password' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br />
  <%= render "devise/shared/links" %>
</div>